build --cxxopt='-std=c++20'
#build --action_env=CC=/Users/toshi/Programming/llvm-project/build/bin/clang
#build --action_env=CXX=/Users/toshi/Programming/llvm-project/build/bin/clang++
build --cxxopt="-fconstexpr-steps=4290000000"

# test --test_output=errors
test --copt="-O3"