build --cxxopt='-std=c++20'
build --action_env=CC=/oopt/homevrew/bin/gcc-13
build --action_env=CXX=/oopt/homevrew/bin/g++-13

# test --test_output=errors
test --copt="-O3"
test --copt="-fconstexpr-steps=4290000000"